<!DOCTYPE html>
<html lang="nl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title | default: "Tweakers Dashboard" }}</title>

  <link rel="stylesheet" href="/styles/stylesheet.css">
  <link rel="stylesheet" href="/styles/styles.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont/tabler-icons.min.css">

  <script src="/app.js" defer></script>
</head>
<body class="{{ class | default: ""  }}">