{% render 'partials/head.liquid', title: 'Login' %}
<h1>Welcome terug!</h1>
<p>Gelieve uw gegevens hieronder in te vullen.</p>

<form action="" method="get" class="login-form">
  <div class="name-login">
    <label for="name">Enter your name: </label>
    <input type="text" name="name" id="name" required>
  </div>
  <div class="password-login">
    <label for="psw">Enter your email: </label>
    <input type="password" name="password" id="password" required>
  </div>
  <div class="form-example">
    <input type="submit" value="Inloggen">
  </div>
</form>
