{% render 'partials/head.liquid', title: 'Login', class: 'logintemplate' %}

<header class="upperheader">
  <picture>
    <source srcset="/assets/logo-white.avif" type="image/avif">
    <source srcset="/assets/logo-white.webp" type="image/webp">
    <img class="logo" src="/assets/logo-white.png" width="{{ 190 }}" height="{{ 50 }}" alt=" Tweakers"
      fetchpriority="high">
  </picture>
</header>
<main class="loginpage">
  <aside class="login-hero">
    <div>
      <h1>Tweakers Dashboard</h1>
      <p class="animated">Beheer je community op één plek topics, gebruikers en meldingen.</p>
      <p class="animated"><i class="ti ti-chart-bar"></i>Activiteitsoverzicht & statistieken</p>
      <p class="animated"><i class="ti ti-users"></i>
        Top gebruikers & moderatie
      </p>
      <p class="animated"><i class="ti ti-bell"></i>Meldingen in realtime </p>
      <p class="animated"><i class="ti ti-rss"></i>Live RSS feed</p>
    </div>
  </aside>
  <section class="login">
    <div>
      <section class="welcometext">
        <h1>Welkom terug!</h1>
        <p>Gelieve uw gegevens hieronder in te vullen.</p>
      </section>
      <form action="/login" method="POST" class="login-form">
        <p class="name-login">
          <label for="name">Gebruikersnaam</label>
          <input type="text" name="name" id="name" required>
        </p>
        <div class="password-login">
          <label for="password">Wachtwoord</label>
          <input type="password" name="password" id="password" required>
        </div>
        <div class="form-example ">
          <input type="submit" value="Inloggen">
        </div>
      </form>
    </div>
  </section>

  <script> document.querySelector('.login-hero').classList.add('animated'); </script>
</main>
</body>