{% render 'partials/head.liquid', title: 'Topics' %}
{% render 'partials/header.liquid', activePage: activePage %}

<main class="topics">
    <section class="stats">
        <h2>Statistieken</h2>
        <div class="wrapper">
            <section class="card">
                <h3>Totaal topics</h3>
                <p></p>
            </section>
            <section class="card">
                <h3>Zoek topics</h3>
                <form role="search" method="get">
                    <label for="zoek-topic"></label>
                    <input type="search" id="zoek-topic" name="zoek" placeholder="Zoek topic...">
                </form>
            </section>
        </div>
    </section>

    <section class="top-topics card">
        <h2>Topics</h2>
        <div class="scrollcontainer">
        <table>
            <caption>Lijst van topics</caption>
          
            <tbody>
                {% for item in items %}
                <tr>
                    <td>{{ forloop.index }}</td>
                    <td>{{ item.title }}</td>
                    <td class="number">{{ item.replies }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </section>
</main>

</body>